.sidenav {
    width: 150px;
    position: -webkit-sticky;
  position: sticky;
    z-index: 1;
    left: 0px;
    top: 0;
    padding-top: 0px;;
    /* background: #eee; */
    overflow-x: hidden;
    padding: 5px 0;
    height: 100%;
  }
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block; 
  }
  .sidenav a:hover {
    color: #064579;
  }
  h1:target {
    background-color: gold;
  }
  h1:target::before {
    font: 70% sans-serif;
    content: "►";
    color: limegreen;
    margin-right: 0.25em;
  }
  /* body{
    margin-bottom: 500px;
  } */